@import "../font/fdsus/style";
@import "admin/sheet-grid";
@import "admin/sheet-edit";
@import "admin/manage";
@import "admin/settings-page";
@import "admin/signup-edit";

.dls-sus-pro {
    background-color: #47c9af;
    color: #fff;
    font-size: .4em;
    font-weight: bold;
    padding: .2em .6em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

.dls-sus-repeater {
    td {
        vertical-align: top;
    }

    textarea {
        height: 60px;
    }
}

.js .dls_sus .postbox H3 {
    cursor: pointer;
}

.dls_sus .postbox H3.hndle {
    padding: 8px 12px;
    margin: 0;
}
.dls_sus form.dls-sus-settings {
    margin-top: 1em;
}
.dls-sus-system-info,
.dls-sus-system-info[readonly="readonly"] {
    width: 100%;
    overflow: auto;
    background: #222;
    color: #bbb;
    padding: 1em;
    white-space: pre;
    font-family: Menlo, Monaco, monospace;
}

@import 'admin/metaboxes';

.dlssus-email-test {
    fieldset {
        background-color: #e2e2e2;
        padding: 2em;
        max-width: 40em;

        input[type='email'],
        textarea {
            width: 100%;
        }

        p:first-child {
            margin-right: 2%;
        }

        p:first-child,
        p:nth-child(2) {
            margin-top: 0;
            width: 49%;
            float: left;
        }

        p:nth-child(2) {
            margin-top: 0;
        }

        p:nth-child(3) {
            clear: both;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }
}

.fdsus-footer {
    text-align: center;

    hr {
        margin: 2em 0 1em;
    }
}

.fdsus-footer-getpro {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;

    &::before {
        font-family: $icomoon-font-family;
        content: $fdsus-icon-sus;
        vertical-align: middle;
        margin: 0 .5em;
        font-size: 1.4em;
    }

    span {
        text-decoration: underline;
    }
}

@media screen and (min-width: 783px) {
    .post-type-dlssus_sheet #wpbody-content,
    .post-type-dlssus_task #wpbody-content,
    .post-type-dlssus_signup #wpbody-content,
    .dlssus_sheet_page_dlssus-help #wpbody-content {
        padding-bottom: 8rem;
    }
}

#dashboard_right_now li.dlssus_sheet-count a:before {
    content: $fdsus-icon-sus;
    font-family: $icomoon-font-family;
}
